<section class="twelve columns">
    <h1>Publication</h1>
    <article>
        <header>
            <h1><a href="https://www.tandfonline.com/doi/abs/10.1080/13504851.2023.2289383">Time-varying Impact of Supply Chain Pressures on US Inflation</a></h1>
            <span><address>(with Sangho Shin)</address>
        </header>
        <p style="font-weight:400;"><em>Applied Economics Letters</em></p>
    </article>
    <article>
        <header>
            <h1><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4723921">Pension Systems Revisited in the Age of Automation and an Aging Economy</a></h1>
            <span><address>(with Dongwoo Lee)</address>
        </header>
        <p>Accepted at <em>Journal of Economic Behavior & Organization </em></p>
    </article>
</section>
