<section class="twelve columns">
    <style>
    p.small {
    line-height: 0.7;
    }

    p.big {
    line-height: 1.8;
    }
    </style>
    
    <h1>Publications</h1>
    <article>
        <ul>
            <li class="small"><a href="https://www.tandfonline.com/doi/abs/10.1080/13504851.2023.2289383">Time-varying Impact of Supply Chain Pressures on US Inflation</a> (with Sangho Shin)</li>
                <p style="font-weight:400;"><em>Applied Economics Letters</em></p>
            <li><a href="https://www.sciencedirect.com/science/article/pii/S0167268124003986">Pension Systems Revisited in the Age of Automation and an Aging Economy</a> (with Dongwoo Lee)</li>
                <p style="font-weight:400;"><em>Journal of Economic Behavior & Organization </em></p>
        </ul>
        <header>
            <h1><a href="https://www.tandfonline.com/doi/abs/10.1080/13504851.2023.2289383">Time-varying Impact of Supply Chain Pressures on US Inflation</a> (with Sangho Shin)</h1>
        </header>
        <p style="font-weight:400;"><em>Applied Economics Letters</em></p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.sciencedirect.com/science/article/pii/S0167268124003986">Pension Systems Revisited in the Age of Automation and an Aging Economy</a></h1>
            <span><address>(with Dongwoo Lee)</address>
        </header>
        <p style="font-weight:400;"><em>Journal of Economic Behavior & Organization </em></p>
    </article>
</section>
