<section class="twelve columns">
    <h1>Publications</h1>
        <ul style="list-style-type:square; font-size: 15px; line-height: 17px;">
            <li><a href="https://www.tandfonline.com/doi/abs/10.1080/13504851.2023.2289383">Time-varying Impact of Supply Chain Pressures on US Inflation</a> (with Sangho Shin) <br> <em style="color:#808080;">Applied Economics Letters</em></li>
            <li><a href="https://www.sciencedirect.com/science/article/pii/S0167268124003986">Pension Systems Revisited in the Age of Automation and an Aging Economy</a> (with Dongwoo Lee) <br> <em style="color:#808080;">Journal of Economic Behavior & Organization</em></li>
        </ul>
</section>
