<section class="twelve columns">
    <h1>Teaching</h1>
        <ul style="list-style-type:square; font-size:15px; line-height:2px; font-family: 'Merriweather', serif; font-weight: bold; line-height:100%;">
            <li> Current Teaching </li>
                <ul style="list-style-type:circle; font-size:15px; line-height:15px; font-family: 'Raleway', sans-serif; font-weight: normal;">
                    <li> test </li>
                    <li> test </li>
                </ul>
            <li> Past Teaching </li>
        </ul>
    <p> Virginia Polytechnic Institute and State University </p>
</section>


<!-- style="color:#063E76; font-family: 'Merriweather', serif; font-weight: bold;" -->
