<section class="twelve columns">
    <h1>Teaching</h1>
        <ul style="list-style-type:square; font-size:15px; line-height:17px; font-family: 'Merriweather', serif; font-weight: bold;"> <!-- font-size:15px; line-height:16px; -->
            <li> Current Teaching </li> <!-- style="line-height:40%" -->
                <ul style="list-style-type:circle; font-size:15px; line-height:17px; font-family: 'Raleway', sans-serif; font-weight: normal;"> <!-- font-size:15px; line-height:16px; -->
                    <li> Time-series Econometric Analysis [Bachelor 3rd year, Xi'an Jiaotong Univ.] </li>
                    <li> Advanced Macroeconomics 2 [Master/Doctoral in Economics 2nd year, Xi'an Jiaotong Univ.] </li>
                    <li> Bayesian Econometric Analysis [Master/Doctoral in Economics 2nd year, Xi'an Jiaotong Univ.] </li>
                    <li style="line-height:15px;"> Mathematics for Business and Economics [Bachelor 2nd year, Xi'an Jiaotong-Liverpool Univ.] </li>
                </ul>
            <li> Past Teaching </li>
        </ul>
    <p> Virginia Polytechnic Institute and State University </p>
</section>


<!-- style="color:#063E76; font-family: 'Merriweather', serif; font-weight: bold;" -->
