<section class="twelve columns">
    <h1>Working Papers/ Work in Progress</h1>
        <ul style="list-style-type:circle; font-size: 15px; line-height:17px;">
            <li> Aging Society, Automation, and Monetary Policy </li>
            <li> Supply Chain Pressures on the Korean Economy <span><address>(with Goeun Lee)</address> </li>
            <li> Supply Chain Pressures on the Korean Economy </li>
        </ul>


    
    
    
    
    
<!--    <article>
        <header>
            <h1>Climate Change Effects on Economy</h1>
            <span><address>(with Botao Qin)</address>
        </header>
    </article>
    <article>
        <header>
            <h1>DSGE-VAR(&lambda;) for a Model Evaluation Revisited</h1>
        </header>
    </article>    -->
</section>
