<section class="twelve columns">
    <h1>Working Papers/ Work in Progress</h1>
    <article>
        <header>
            <h1>Aging Society, Automation, and Monetary Policy</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Supply Chain Pressures on the Korean Economy</h1>
            <span><address>(with Goeun Lee)</address>
        </header>
    </article>
    <article>
        <header>
            <h1>Climate Change Effects on Economy</h1>
            <span><address>(with Botao Qin)</address>
        </header>
    </article>
</section>
