@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

body {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #606060; /* rgb(48, 48, 48); #253342; #1D2023; #14213D; #2C3E50; #1B2631; #758EA7; #606060; #8099B3; */
    border-top: 3px solid #34495E; /* #27a822; #02341D; #1F4762; */
    border-bottom: 3px solid #34495E; /* #27A822; #02341D; */
}

.container {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #14452F;
    font-weight: bold;
    /*text-decoration-color: #639C9C;*/
    /*background-color: rgba(39, 168, 34, 0.06);*/
}

a:visited {
    text-decoration: none;
    color: #14452F;
    font-weight: bold;
}

a:hover, a:focus {
    color: #0DC681; /* #27A822; #F2F3F4; #B87333; #FF7F50; */
    text-decoration: none;
    font-weight: bold;
}

p, address {
    margin-bottom: 0;
}

.me {
    width: 200px; /* 215px; */
    height: 200px; /* 215px; */
    border-radius: 15px; /* 75px; 50% */
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px; */
    margin-bottom: 20px;
    margin-left: 10px;
    object-fit: cover;
}

header > h1, section > h1 {
    color: #063E76; /* #27A822; #B87333; #5A6775; #943126; #214568; #5A6775;*/
    font-family: 'Merriweather', serif; /* <h5 style="color:#063E76; font-family: 'Merriweather', serif; font-weight: bold;">{{ site.name }}</h5> //// 'Raleway', sans-serif; */
}

header > h1 {
    line-height: 100%;
    font-size: 100%; /* 250%; */
    margin-bottom: 20px;
}

.container > header p, .container > header address {
    margin-bottom: 20px;
}

.container > header p:last-child {
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

section > h1 {
    font-size: 100%; /* 140%; */
    line-height: 120%;
    text-transform: uppercase;
}

article {
    margin-bottom: 20px;
}

article > header > h1 {
    font-size: 112%;
    font-weight: bold;
    line-height: 150%;
    margin-bottom: 0;
    color: inherit;
}

article > header > span + span {
    margin-left: 2px;
}

article > header > span + span::before {
    content: '@';
    margin-right: 4px;
}

article > header > span {
    color: #808080;
    font-size: 100%;
}

article > header > span a {
    color: inherit;
}

article > header address {
    display: inline;
}

article > header address + time {
    margin-left: 6px;
}

article > header address + time::before {
    content: '—';
    margin-right: 6px;
}

em {
    font-style: italic; /*normal;*/
    /*font-weight: normal; /*bold;normal;lighter;*/
    color: #2C3E50; /*rgb(200, 100, 100); #2C3E50; #639C9C;*/
    /*margin-right: 6px;*/
}

@media print {
    @page {
        margin: 15mm;
    }

    body {
        font-size: 14pt;
        line-height: 21pt;
    }

    .container > header {
        font-size: 80%;
        line-height: 160%;
    }

    article > header > span {
        font-size: 80%;
        line-height: 80%;
    }
}

footer p {
    margin-bottom: 10px;
    font-size: 10pt;
}
