/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color:             #FF3636 !default;
$red-color-dark:        #B71C1C !default;
$red-color-light:       #EC4D37;
$orange-color:          #F29105 !default;
$blue-color:            #0076df !default;
$blue-color-dark:       #00369f !default;
$cyan-color:            #2698BA !default;
$light-cyan-color:      lighten($cyan-color, 25%);
$green-color:           #00ab37 !default;
$green-color-lime:      #B7D12A !default;
$green-color-dark:      #01311F !default;
$green-color-dark2:     #1F3B34 !default;
$green-color-light:     #ddffdd !default;
$green-color-bright:    #11D68B !default;
$purple-color:          #B509AC !default;
$light-purple-color:    lighten($purple-color, 25%);
$pink-color:            #f92080 !default;
$pink-color-light:      #ffdddd !default;
$yellow-color:          #efcc00 !default;
$yellow-color-light:    #F5B301;
$yellow-color-lighter:  #FFF056;
$yellow-color-lighter2: #DCE824;
$yellow-color-bold:     #FCA311;
$navy-color:            #14213D;

$grey-color:            #828282 !default;
$grey-color-light:      lighten($grey-color, 40%);
$grey-color-dark:       #1C1C1D;
$grey-900:              #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;
$black-color-light:     #0F0D0D;
$black-color-lighter1:  #2A2E34;
$black-color-lighter2:  #191919;
$black-color-lighter3:  #1D1B1B;

$vanilla-color-ice1:    #766969;
$vanilla-color-ice2:    #5e5454;
$vanilla-color-ice3:    #473f3f;
$vanilla-color:         #52493e;

$beige-dimmed:          #f5f0e1;
$navy-color2:           #1e3d59;
$yellow-thick:          #ffc13b;
$almond-light:          #FFF7EC;
$cornsilk:              #FFF1DE;

$Asphalt-color:         #0C0404;
$Abbey-color:           #494F55;
$AshGray-color:         #666362;
$Graywolf-color:        #504A4B;
$Gunmetal-color:        #2C3539;
$Spider-color:          #040200;
$Crow-color:            #0D0907;
$TeaGreen-color:        #EBEDDF;
$Beige-color:           #F7E5DA;
$Sand-color:            #F8F2EB;
$Pink-color:            #FBEAEB;
$Peach-color:           #FCEDDA;
$Jungle-color:          #53A57D;
$Mustard-color:         #F2C864;
$Purple-color-light:    #E4F1FF;

$light-blue:            #3860ff;
$light-blue2:           #298dff;

$warm-white:            #fef9f3;
$cold-white:            #eef4ed;
$cream:                 #fffde7;
$emerald:               #4d9078;
$royal-blue:            #4169e1;
$burgundy:              #800020;
$green-forest:          #014421;
$cold-white2:           #F5F5F5;
$orange-color2:         #FA9F42;
$yellow-thick2:         #FFBB1C;
$red-brick:             #D33B52;
$coral:                 #F4784D;
$platinum:              #E2E8E9;
$grey-color-light2:     #E3E3E3;
$green-color-light2:    lighten($green-color-dark, 30%);


// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";
