/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color:             #FF3636 !default;
$red-color-dark:        #B71C1C !default;
$red-color-light:       #EC4D37;
$orange-color:          #F29105 !default;
$blue-color:            #0076df !default;
$blue-color-dark:       #00369f !default;
$cyan-color:            #2698BA !default;
$light-cyan-color:      lighten($cyan-color, 25%);
$green-color:           #00ab37 !default;
$green-color-lime:      #B7D12A !default;
$green-color-dark:      #009f06 !default;
$green-color-light:     #ddffdd !default;
$green-color-bright:    #11D68B !default;
$purple-color:          #B509AC !default;
$light-purple-color:    lighten($purple-color, 25%);
$pink-color:            #f92080 !default;
$pink-color-light:      #ffdddd !default;
$yellow-color:          #efcc00 !default;
$yellow-color-light:    #F5B301;
$yellow-color-lighter:  #FFF056;
$yellow-color-bold:     #FCA311;
$navy-color:            #14213D;

$grey-color:            #828282 !default;
$grey-color-light:      lighten($grey-color, 40%);
$grey-color-dark:       #1C1C1D;
$grey-900:              #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;
$black-color-light:     #0F0D0D;
$black-color-lighter1:  #2A2E34;
$black-color-lighter2:  #191919;
$black-color-lighter3:  #1D1B1B;

$vanilla-color-ice1:    #766969;
$vanilla-color-ice2:    #5e5454;
$vanilla-color-ice3:    #473f3f;
$vanilla-color:         #52493e;


// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";
